@import 'variables';

.button {
  @include button-style;
  background-color: $primary-color;
  color: white;
  
  &:hover {
    background-color: $button-hover-bg-color;
  }

  &:active {
    background-color: $button-active-bg-color;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $button-focus-shadow-color;
  }

  &:disabled {
    background-color: $button-disabled-bg-color;
    cursor: not-allowed;
  }
}
