@import 'variables';

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;

  .carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;

    img {
      width: 100%; // 가로 폭을 컨테이너에 맞춤
      height: 500px; // 슬라이드의 높이를 고정
      object-fit: cover; // 이미지를 적절히 맞춤
    }
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: $border-radius-circle;
    transition: background-color 0.3s;

    &:focus {
      outline: none;
      background-color: darken($primary-color, 10%);
    }

    &:first-child { left: 10px; }
    &:last-child { right: 10px; }
  }
}
