.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  position: relative;

  .slide {
    opacity: 0;
    transition-duration: 1s ease;

    &.active {
      opacity: 1;
      transition-duration: 1s;
    }

    .image {
      height: 100%;
      object-fit: cover;
    }
  }

  .left-arrow,
  .right-arrow {
    position: absolute;
    font-size: 2em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  .left-arrow {
    left: 10px;
  }

  .right-arrow {
    right: 10px;
  }
}
