@import 'variables';
.category-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid $border-color;
  border-radius: $border-radius-large;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $background-hover-color;
  }

  .category-image {
    width: 60px;
    height: 60px;
    border-radius: $border-radius-circle;
    margin-right: 1rem;
    object-fit: cover;
  }

  .category-info {
    .category-name {
      font-size: $font-size-medium;
      color: $text-color;
    }

    .category-description {
      font-size: $font-size-small;
      color: $description-text-color;
    }
  }
}
