@import 'variables';
.collaboration-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-unit;
  max-width: 500px;
  margin: auto;

  input[type="email"], button {
    padding: 10px;
    border-radius: $border-radius;
  }

  input[type="email"] {
    border: 1px solid $border-color;
  }

  button {
    background-color: $success-color;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: darken($success-color, 10%);
    }
  }
}
