@import 'variables';
.course-page {
  padding: $spacing-large;
  
  h1 {
    text-align: center;
    margin-bottom: $spacing-large;
  }
  
  .course-info {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .course-review {
    margin-top: $spacing-large;
  }
}
