@import 'variables';
.event-card {
  @include box-shadow-default;
  display: flex;
  flex-direction: column;
  background-color: $light-color;
  border-radius: $border-radius-large;
  padding: $spacing-unit;
  margin-bottom: $spacing-unit;

  h3 {
    margin-top: 0;
    color: $text-color;
  }

  p {
    color: $description-text-color;
    flex-grow: 1;
  }

  span {
    font-size: $font-size-small;
    color: $subtitle-color;
  }
}

