@import 'variables';

.footer {
  background-color: $dark-color;
  color: $light-color;
  text-align: center;
  padding: 2rem; // 푸터 패딩 증가
  margin-top: 4rem; // 페이지와의 여백 증가

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem; // 소셜 링크 간격 조정

    a {
      color: $light-color;
      transition: color 0.3s ease;

      &:hover {
        color: $warning-color;
      }
    }
  }

  p {
    margin-top: 1rem;
    font-size: $font-size-small;
  }
}
