@import 'variables';
.footer {
  background-color: $dark-color;
  color: $light-color;
  text-align: center;
  padding: $spacing-unit;

  .social-links {
    margin: $spacing-unit 0;

    a {
      margin: 0 $spacing-unit;
      color: $light-color;
      transition: color 0.3s ease;

      &:hover {
        color: $warning-color;
      }
    }
  }

  p {
    margin: $spacing-unit 0;
    font-size: $font-size-small;
  }
}
