@import 'variables';

.forum-page {
  padding: 2rem; // 전체 페이지 패딩 조정

  .forum-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // 포럼 목록을 그리드로 표시
    gap: 2rem; // 그리드 아이템 간격 조정

    .forum-item {
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: 1rem; // 각 포럼 아이템 패딩 조정
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px); // 호버 시 위로 이동
        box-shadow: $box-shadow-hover;
      }

      h3 {
        color: $text-color;
      }

      p {
        color: $description-text-color;
      }
    }
  }
}
