@import 'variables';

.home-page {
  padding: 2rem; // 홈 페이지의 기본 패딩 조정

  .welcome-section {
    text-align: center;
    padding: 4rem 0; // 환영 섹션의 패딩 조정
    background-color: $light-color;
    border-radius: $border-radius-large;
    box-shadow: $box-shadow;
    margin-bottom: 2rem; // 섹션 간 여백 조정

    h1 {
      color: $primary-color;
      margin-bottom: 1rem;
    }

    p {
      color: $text-color;
      max-width: 600px;
      margin: auto;
    }
  }

  // 홈 페이지의 기타 섹션에 대한 스타일은 여기에 추가됩니다.
}
