@import 'variables';
.interactive-graph {
  width: 100%;
  height: $interactive-graph-height;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }

  .tooltip {
    @include box-shadow-default;
    position: absolute;
    background-color: $tooltip-bg-color;
    border: 1px solid $tooltip-border-color;
    border-radius: $border-radius;
    padding: 5px 10px;
    font-size: $font-size-small;
    display: none;
  }
}
