@import 'variables';
@import 'mixins';
@import 'index';

// 여기에는 프로젝트의 글로벌 스타일을 설정합니다.
body, html {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: $primary-font;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

