@import 'variables';
@import 'mixins';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include flex-center;
  z-index: 100;
}

.modal-content {
  background-color: $background-color;
  padding: 20px;
  border-radius: $border-radius;
  @include box-shadow($deep-shadow);
  position: relative;
  
  .modal-header, .modal-footer {
    @include flex-center(space-between);
    padding: 10px 0;
  }

  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: $text-color;
  }

  .modal-body {
    padding: 20px 0;
  }
}

