@import 'variables';
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-overlay-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-content {
  @include box-shadow-default;
  background-color: $light-color;
  padding: $spacing-large;
  border-radius: $border-radius-large;
  width: 100%;
  max-width: $modal-max-width;
}

.close-button {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
}
