@import 'variables';
.navbar {
  background-color: $primary-color;
  padding: $spacing-unit;
  color: white;

  .navbar-brand {
    color: white;
    font-size: $font-size-large;
    font-weight: bold;

    &:hover {
      color: $light-color;
    }
  }

  .navbar-links {
    display: flex;
    list-style-type: none;
    margin-left: auto;

    li {
      padding: 0 $spacing-unit;

      a {
        color: white;

        &:hover {
          color: $light-color;
        }
      }
    }
  }
}
