@import 'variables';
@import 'mixins';

.navbar {
  background-color: $primary-color;
  @include flex-center(space-between);
  padding: 0 20px;
  color: $light-text-color;
  position: sticky;
  top: 0;
  z-index: 10;

  .navbar-brand {
    font-size: 1.8rem;
    @include glow-text($accent-color);
  }

  .navbar-links {
    @include flex-center;

    a {
      margin-left: 20px;
      transition: color $transition-fast;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

