@import 'variables';
.notification-item {
  background-color: $background-color;
  border-left: 4px solid $notification-border-color;
  margin: $spacing-unit 0;
  padding: $spacing-unit;
  border-radius: $border-radius;

  p {
    margin: 0;
    color: $text-color;
  }

  span {
    display: block;
    margin-top: $spacing-unit;
    font-size: $font-size-small;
    color: $subtitle-color;
  }
}
