@import 'variables';
.post {
  @include box-shadow-default;
  background-color: $light-color;
  padding: $spacing-large;
  margin-bottom: $spacing-large;
  border-radius: $border-radius-large;

  h2 {
    color: $text-color;
    margin-top: 0;
  }

  p {
    color: $description-text-color;
  }

  .post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: $spacing-unit;
    font-size: $font-size-small;
    color: $subtitle-color;
  }
}
