@import 'variables';
@import 'mixins';

.search-bar {
  @include flex-center;
  position: relative;
  margin-bottom: 20px;

  input[type="text"] {
    width: 100%;
    padding: 10px 40px 10px 20px;
    border: 1px solid $secondary-color;
    border-radius: $border-radius;
    transition: border-color $transition-fast;

    &:focus {
      outline: none;
      border-color: $primary-color;
      @include glow-text($primary-color);
    }
  }

  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $secondary-color;
    cursor: pointer;
  }
}

