@import 'variables';

.search-bar {
  display: flex;
  margin-bottom: $spacing-large;

  .search-input {
    flex: 1;
    padding: $spacing-unit;
    border: 1px solid $border-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .search-button {
    padding: $spacing-unit $spacing-large;
    background-color: $primary-color;
    color: white;
    border: none;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    cursor: pointer;

    &:hover {
      background-color: $button-hover-bg-color;
    }
  }
}
