@import 'variables';
.tutorial-card {
  @include box-shadow-default;
  display: flex;
  background-color: $light-color;
  margin-bottom: $spacing-large;
  border-radius: $border-radius-large;

  img {
    width: $avatar-size;
    height: $avatar-size;
    object-fit: cover;
    border-radius: $border-radius-large 0 0 $border-radius-large;
  }

  .tutorial-info {
    padding: $spacing-unit;

    h3 {
      margin: 0;
      padding-bottom: $spacing-unit;
    }

    p {
      color: $description-text-color;
      font-size: $font-size-small;
    }

    a {
      display: inline-block;
      margin-top: $spacing-unit;
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
