@import 'variables';
@import 'mixins';

.user-profile {
  .profile-header {
    background-color: $primary-color;
    padding: 40px 20px;
    text-align: center;
    color: $light-text-color;

    .profile-avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: auto;
      overflow: hidden;
      border: 5px solid $light-text-color;
    }

    .profile-name {
      font-size: 2rem;
      margin-top: 20px;
      @include glow-text($hot-pink);
    }

    .profile-bio {
      font-size: 1rem;
      margin-top: 10px;
    }
  }

  .profile-content {
    padding: 20px;
  }
}

