@import 'variables';
.user-profile {
  display: flex;
  align-items: center;
  background-color: $light-color;
  padding: $spacing-large;
  border-radius: $border-radius-large;
  box-shadow: $box-shadow;
  margin-bottom: $spacing-large;

  .avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: $border-radius-circle;
    margin-right: $spacing-large;
  }

  .user-info {
    h2 {
      margin: 0 0 $spacing-unit 0;
      color: $primary-color;
    }

    p {
      margin: 0;
      color: $description-text-color;
    }
  }
}
